@import '../../styles/partials/reset';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';


.card-chart {
    margin-bottom: 1rem;
    width: 100%;
    &__wrapper {
        padding: 0.5rem 1rem 0.5rem 0;
        @include flex-box(row, null, null);
        &:hover{
            background: #0A013A;
            background: -webkit-linear-gradient(top left, #0A013A, #030157);
            background: -moz-linear-gradient(top left, #0A013A, #030157);
            background: linear-gradient(to bottom right, #0A013A, #030157);
            cursor: pointer;
        }
    }
    &__text {
        color: white;
    }
    &__info {
        @include flex-box(column, space-between, flex-start);
        width: 100%;
    }
    &__data{
        @include flex-box(column, center, flex-start);
    }
    &__position {
        @include flex-box(column, center, center);
        width: 5rem;
        margin-right: 2rem;
    }
}

