@import '../../styles/partials/reset';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';


.login{
    height: 100vh;
    // background: -webkit-linear-gradient(left, rgba(2, 3, 35, 1.0), rgba(17, 1, 70, 1.0));
    // background: -moz-linear-gradient(left, rgba(2, 3, 35, 1.0), rgba(17, 1, 70, 1.0));
    // background: linear-gradient(to right, rgba(2, 3, 35, 1.0), rgba(17, 1, 70, 1.0));
    background: #0E0125;
    background: -webkit-linear-gradient(top left, #0E0125, #01020C);
    background: -moz-linear-gradient(top left, #0E0125, #01020C);
    background: linear-gradient(to bottom right, #0E0125, #01020C);
    @include flex-box(column, center, center);
    &__wrapper {
        @include flex-box(column, center, center);
        margin-left: 16rem;
    }
    &__banner {
        margin-bottom: 2rem;
    }
    &__logo {
        color: aliceblue;
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    &__title {
        color: #00bcd4;
        font-size: 1.5rem;
    }
}